body {
    display: grid;
}

/*div organization*/

.video-content {
    justify-content: center;
}

/*Cover Photo*/

#cover-photo {
    grid-area: cover-photo;
}

/*My Uploads*/

#upload-one {
    grid-area: Uone;
}

#upload-two {
    grid-area: Utwo;
}

#upload-three {
    grid-area: Uthree;
}

#upload-four {
    grid-area: Ufour;
}

#upload-five {
    grid-area: Ufive;
}

#upload-six {
    grid-area: Usix;
}

#upload-seven {
    grid-area: Useven;
}

/*My Playlist*/

#playlist-one {
    grid-area: Pone;
}

#playlist-two {
    grid-area: Ptwo;
}

#playlist-three {
    grid-area: Pthree;
}

#playlist-four {
    grid-area: Pfour;
}

#playlist-five {
    grid-area: Pfive;
}

#playlist-six {
    grid-area: Psix;
}

#playlist-seven {
    grid-area: Pseven;
}

/*following*/

#following-one {
    grid-area: Fone;
}

#following-two {
    grid-area: Ftwo;
}

#following-three {
    grid-area: Fthree;
}

#following-four {
    grid-area: Ffour;
}

#following-five {
    grid-area: Ffive;
}

#following-six {
    grid-area: Fsix;
}

#following-seven {
    grid-area: Fseven;
}

/*Breakpoints*/

@media only screen and (min-width: 1281px) {

    .card {
    min-height: 360px;
        }

    #video_content{
        grid-template-columns: repeat(6, 200px);
        grid-template-areas: 
            "header header header header header header"
            "one    one    two    two    three  three"
            "four   four   five   five   six    six"
            "seven  seven  eight  eight  nine   nine"
        }
    
    #video_content_one {
        grid-template-columns: repeat(6, 200px);
        grid-template-areas:
            "oneA   oneA    twoA   twoA   threeA threeA"
            "fourA  fourA   fiveA  fiveA  sixA   sixA"
            "sevenA sevenA  eightA eightA nineA  nineA"
    }
    
    #video_content_two {
        grid-template-columns: repeat(6, 200px);
        grid-template-areas:
            "oneB   oneB   twoB   twoB   threeB threeB"
            "fourB  fourB  fiveB  fiveB  sixB   sixB"
            "sevenB sevenB eightB eightB nineB  nineB"
    }

    
    
}

@media only screen and (max-width: 1280px) {

    .card {
    min-height: 300px;
        }


    #video_content{
        grid-template-columns: repeat(6, 15%);
        grid-template-areas: 
            "header header header header header header"
            "one    one    two    two    three  three"
            "four   four   five   five   six    six"
            "seven  seven  eight  eight  nine   nine"
        }
    #video_content_one {
        grid-template-columns: repeat(6, 15%);
        grid-template-areas:
            "oneA   oneA    twoA   twoA   threeA threeA"
            "fourA  fourA   fiveA  fiveA  sixA   sixA"
            "sevenA sevenA  eightA eightA nineA  nineA"
    }
    
    #video_content_two {
        grid-template-columns: repeat(6, 15%);
        grid-template-areas:
            "oneB   oneB   twoB   twoB   threeB threeB"
            "fourB  fourB  fiveB  fiveB  sixB   sixB"
            "sevenB sevenB eightB eightB nineB  nineB"
    }

}

@media only screen and (max-width: 720px) {

    #thumbnail-nine {
        display: none;
    }
    #thumbnail-nineA{
        display: none;
    }
    #thumbnail-nineB{
        display:none;
    }
    .card {
    min-height: 320px;
        }
    
    #video_content{
           
        grid-template-columns: repeat(4, 160px);
        grid-template-areas: 
            "header header header header"
            "one    one    two    two"
            "three  three  four   four"
            "five   five   six    six"
            "seven  seven  eight  eight"
        }
    
    #video_content_one {
        grid-template-columns: repeat(4, 160px);
        grid-template-areas:
            "oneA   oneA    twoA   twoA"
            "threeA threeA  fourA  fourA"
            "fiveA  fiveA   sixA   sixA"
            "sevenA sevenA  eightA eightA"
    }
    
    #video_content_two {
        grid-template-columns: repeat(4, 160px);
        grid-template-areas:
            "oneB   oneB    twoB   twoB"
            "threeB threeB  fourB  fourB"
            "fiveB  fiveB   sixB   sixB"
            "sevenB sevenB  eightB eightB"
    }
}

@media only screen and (max-width: 320px) {
    
    #video_content{
        grid-template-columns: repeat(2, 140px);
        grid-template-areas: 
            "header header"
            "one    one"
            "two    two"
            "three  three"
            "four   four"
            "five   five"
            "six    six"
            "seven  seven"
            "eight  eight"
            "nine   nine"
        }
    
    #video_content_one {
        grid-template-columns: repeat(2, 140px);
        grid-template-areas:
            "oneA   oneA"    
            "twoA   twoA"
            "threeA threeA"  
            "fourA  fourA"
            "fiveA  fiveA"   
            "sixA   sixA"
            "sevenA sevenA"  
            "eightA eightA"
            "nineA  nineA"
    }
    
    #video_content_two {
        grid-template-columns: repeat(2, 140px);
        grid-template-areas:
            "oneB   oneB"    
            "twoB   twoB"
            "threeB threeB"  
            "fourB  fourB"
            "fiveB  fiveB"   
            "sixB   sixB"
            "sevenB sevenB"  
            "eightB eightB"
            "nineB  nineB"
        }
    }
