#content-grid {
    display: grid;
    justify-content: center;
}

#video-content {
    color: yellow;
}

/*div organization*/

/*Menu Bar*/
#menu-bar {
    grid-area: menu-bar;
}

/*Cover Photo*/

#cover-photo {
    grid-area: header;
}

/*My Uploads*/

#upload-one {
    grid-area: Uone;
}

#upload-two {
    grid-area: Utwo;
}

#upload-three {
    grid-area: Uthree;
}

#upload-four {
    grid-area: Ufour;
}

#upload-five {
    grid-area: Ufive;
}

#upload-six {
    grid-area: Usix;
}

#upload-seven {
    grid-area: Useven;
}

/*My Playlist*/

#playlist-one {
    grid-area: Pone;
}

#playlist-two {
    grid-area: Ptwo;
}

#playlist-three {
    grid-area: Pthree;
}

#playlist-four {
    grid-area: Pfour;
}

#playlist-five {
    grid-area: Pfive;
}

#playlist-six {
    grid-area: Psix;
}

#playlist-seven {
    grid-area: Pseven;
}

/*following*/

#following-one {
    grid-area: Fone;
}

#following-two {
    grid-area: Ftwo;
}

#following-three {
    grid-area: Fthree;
}

#following-four {
    grid-area: Ffour;
}

#following-five {
    grid-area: Ffive;
}

#following-six {
    grid-area: Fsix;
}

#following-seven {
    grid-area: Fseven;
}

#cover-photo {
    background-image:url(https://images.unsplash.com/photo-1522039176993-33264c54767e?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=54d3e4bdd2930c7d434c3b59a8702dbe&auto=format&fit=crop&w=1652&q=80);
    background-repeat:no-repeat;
    background-position: center; 
    background-size:cover;
    width:100%;
    overflow-x:hidden;    
}

/*Breakpoints*/

#content-grid{
        grid-template-columns: repeat(6, 200px);
        grid-template-rows:200px;
        grid-template-areas: 
            "header header header header header header"
        }

@media only screen and (min-width: 1281px) {

    .card {
    min-height: 360px;
        }
    
}