#content-grid {
    display: grid;
    justify-content: center;
    grid-gap: 10px;
}

#video-content {
    color: yellow;
}

/*div organization*/

/*Menu Bar*/
#menu-bar {
    grid-area: menu-bar;
}

/*Channel Name*/
#channel-name {
    grid-area: channel;
}

/*Channel Description*/

#channel-description {
    grid-area: description;
}

#channel-description p {
    font-size: 10pt;
}

/*Cover Photo*/

#cover-photo {
    grid-area: header;
}

/*Upload Button*/

#upload-button {
    grid-area: upload;
    align-self: center;
}

/*My Playlist*/
#my-playlist {
    grid-area: myplaylist;
}

/*Following*/
#following {
    grid-area: following;
}

/*My Uploads*/

#my-uploads {
    grid-area: myuploads;
}

#lineup {
    grid-area: lineup;
}

#upload-one {
    grid-area: Uone;
}

#upload-two {
    grid-area: Utwo;
}

#upload-three {
    grid-area: Uthree;
}

#upload-four {
    grid-area: Ufour;
}

#upload-five {
    grid-area: Ufive;
}

#upload-six {
    grid-area: Usix;
}

#upload-seven {
    grid-area: Useven;
}

/*My Playlist*/

#playlist-one {
    grid-area: Pone;
}

#playlist-two {
    grid-area: Ptwo;
}

#playlist-three {
    grid-area: Pthree;
}

#playlist-four {
    grid-area: Pfour;
}

#playlist-five {
    grid-area: Pfive;
}

#playlist-six {
    grid-area: Psix;
}

#playlist-seven {
    grid-area: Pseven;
}

/*following*/

#following-one {
    grid-area: Fone;
}

#following-two {
    grid-area: Ftwo;
}

#following-three {
    grid-area: Fthree;
}

#following-four {
    grid-area: Ffour;
}

#following-five {
    grid-area: Ffive;
}

#following-six {
    grid-area: Fsix;
}

#following-seven {
    grid-area: Fseven;
}

#cover-photo {
    background-image:url(https://images.unsplash.com/photo-1522039176993-33264c54767e?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=54d3e4bdd2930c7d434c3b59a8702dbe&auto=format&fit=crop&w=1652&q=80);
    background-repeat:no-repeat;
    background-position: center; 
    background-size:cover;
    width:100%;
    overflow-x:hidden;    
}

/*Breakpoints*/

#content-grid{
        grid-template-columns: repeat(6, 200px);
        grid-template-rows:200px auto auto auto auto 200px;
        grid-template-areas: 
            "header header header header header header"
            ". channel channel . . upload"
            ". description description description . upload"
            "myuploads. . . . ."
            "lineup lineup lineup lineup lineup lineup"     
        }

.lineup {
    width:100%; /* the lineup spans the full width of the space alotted */
}

.slick-slide {
    padding:10px; /* spacing between video cards */
}

.slick-prev:before, .slick-next:before {
    color:#000000; /* arrow color is red ... for now */
}

@media only screen and (min-width: 1281px) {

    .card {
    min-height: ;
        }
    
}