
body {
    color: black;
    text-align: center;
}

#Logo {
    color: black;
    font-family: Arial;
  font-size: 100px;
  padding-top: 300px;
  padding-bottom: 400px;
  text-align: center;
}

#LoginForm{
    padding:40px;
}

.login-form {
    padding-bottom: 60px;
}

.form-heading { color:black; font-size:40px;}
.panel h2{ color:black; font-size:18px; margin:0 0 8px 0;}
.panel p { color:black; font-size:14px; margin-bottom:30px; line-height:24px;}
.login-form .form-control {
  background: #f7f7f7 none repeat scroll 0 0;
  border: 1px solid #d4d4d4;
  border-radius: 4px;
  font-size: 14px;
  height: 50px;
  line-height: 50px;
  margin-bottom: 20px;
}
.main-div {
  background: #ffffff none repeat scroll 0 0;
  border-radius: 2px;
  margin: 10px auto 30px;
  max-width: 38%;
  padding: 10px 70px 10px 71px;
}

.login-form{ text-align:center;}
.forgot a {
  color: black;
  font-size: 14px;
  text-decoration: underline;
}
.login-form  .btn.btn-primary {
  background: black none repeat scroll 0 0;
  border-color: 2px black;
  color: #ffffff;
  font-size: 14px;
  width: 100%;
  height: 50px;
  line-height: 50px;
  padding: 0;
}
.forgot {
  text-align: center; margin-bottom:20px;
}

.botto-text {
  color: #ffffff;
  font-size: 14px;
  margin: auto;
}
.login-form .btn.btn-primary.reset {
}
.back { text-align: left; margin-top:10px;}
.back a {color: #444444; font-size: 13px;text-decoration: none;}


#carousel {
    background-color: #20B2AA;
    color: white;
  font-size: 15px;
  padding: 200px;
  padding-top: 300px;
  padding-bottom: 300px;
  border: 2px solid white;
  align-content: horizontal;
}

#description {
    background-color: #BA55D3;
    color: white;
 font-size: 15px;
  padding: 500px;
  padding-top: 150px;
  padding-bottom: 150px;
  border: 2px solid white;
}

@media only screen and (min-width: 
    768px) and (max-width: 1024px) {

    body {
        width: 50%;
    }
}

@media only screen and (max-width: 
    480px) {

    body {
        width: 25%;
    }
}




