                body{
                    padding: 50px;
                }           

                #grid {
                display: grid;
                justify-content: center;
                grid-gap: 30px;
                grid-row-gap: 50px;
                padding-left: 10%;
                padding-right: 10%;
                margin:50px;
               
            }
            
            #menu-bar {
                grid-area: menu-bar;
                background-color: black;
            }

            #rating {
                grid-area: rating;
                background-color:aqua;
            }
            
            #main {
                grid-area: main;
               
            }

            #raiting{
                grid-area: rating;
            }

            #first {
                grid-area: first;
                
                
            }

            #second {
                grid-area: second;
                
            }
            
            #third{ 
                grid-area: third;
               
            }

            #fourth{
                grid-area: fourth;
               
            }

            #fifth{
                grid-area: fifth;
                
            }

            #sixth{
                grid-area: sixth;
           
            }

            #seventh{
                grid-area: seventh;
               
            }

            #eighth{
                grid-area: eighth;
               
            }

            #ninth{
                grid-area: ninth;
               
            }

            #tenth{
                grid-area: tenth;      
            }

            p1
            {font-size:30px;
            font-family:sans-serif;
            }

            p2{
            font-size:20px;
            font-family:sans-serif;
            }
            
            @media only screen and (min-width:1281px) {
                #grid {
                    grid-template-columns: repeat(8,140px);
                    grid-template-rows: repeat(11,170px);
                    grid-template-areas: 
                        "menu-bar   menu-bar    menu-bar    menu-bar    menu-bar    menu-bar  menu-bar  menu-bar"
                        "main       main        main        main        main        main      first     first"
                        "main       main        main        main        main        main      second    second"
                        "main       main        main        main        main        main      third     third"
                        "main       main        main        main        main        main      fourth    fourth"
                        "rating     rating      rating      rating      rating      rating      fifth     fifth"
                        ".          .           .           .           .           .          sixth     sixth"
                        ".          .           .           .           .           .         seventh   seventh"
                        ".          .           .           .           .           .         eighth    eighth"
                        ".          .           .           .           .           .         ninth     ninth"
                        ".          .           .           .           .           .         tenth     tenth"
                        
                }
            }


        @media only screen and (max-width: 1280px) {
                #grid {
                    grid-template-columns: repeat(8, 140px);
                    grid-template-rows: repeat(11, 170px);
                    grid-template-areas: 
                        "menu-bar   menu-bar    menu-bar    menu-bar    menu-bar    menu-bar  menu-bar  menu-bar"
                        "main       main        main        main        main        main      first     first"
                        "main       main        main        main        main        main      second    second"
                        "main       main        main        main        main        main      third     third"
                        "main       main        main        main        main        main      fourth    fourth"
                        "rating     rating      rating      rating      rating      rating     fifth     fifth"
                        ".          .           .           .           .           .          sixth     sixth"
                        ".          .           .           .           .           .         seventh   seventh"
                        ".          .           .           .           .           .         eighth    eighth"
                        ".          .           .           .           .           .         ninth     ninth"
                        ".          .           .           .           .           .         tenth     tenth"
                        
                }
            }



            @media only screen and (max-width: 720px) {
                #grid {
                    grid-template-columns:repeat(4, 25%);
                    grid-template-rows:repeat(11, 70px);
                    grid-template-areas: 
                        "menu-bar    menu-bar menu-bar  menu-bar"
                        "main        main     main      first"
                        "main        main     main      second"
                        "main        main     main      third"
                        "main        main     main      fourth"
                        "rating      rating   rating    fifth"
                        ".           .        .         sixth"
                        ".           .        .         seventh"
                        ".           .        .         eighth"
                        ".           .        .         ninth"
                        ".           .        .         tenth"
                } 
                
                 p1
            {font-size:20px;
            font-family:sans-serif;
            }

            p2{
            font-size:10px;
            font-family:sans-serif;
            }
            }


            @media only screen and (max-width:320px) {
                #grid {
                    grid-template-columns:repeat(2, 50%);
                    grid-template-rows:repeat(15, 40px);
                    grid-template-areas: 
                        "menu-bar   menu-bar"
                        "main       main"
                        "main       main"
                        "main       main"
                        "main       main"
                        "rating     rating"
                        "first      ."
                        "second     ."
                        "third      ."
                        "fourth     ."
                        "fifth      ."
                        "sixth      ."
                        "seventh    ."
                        "eighth     ."
                        "ninth      ."
                        "tenth      ."
                }
            }


